.about {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;

  &__header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &__body {
      text-align: left;
    }

    @include respond(medium) {
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
    }
  }

  &__cover {
    max-height: 250px;
    max-width: 250px;
    margin-bottom: 2rem;
    width: 100%;

    @include respond(medium) {
      height: 100%;
      margin: 0 0 0 2rem;
    }
  }

  &__title {
    font-family: "League Gothic", sans-serif;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.05em;
    margin: 0 0 15px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    letter-spacing: 0.075em;
    font-size: 16px;
    margin: 15px 0;
    text-transform: uppercase;
  }

  &__description {
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.05em;
    font-weight: 300;
    line-height: 1.25em;
    margin: 15px 0;
    text-align: left;
  }

  &__callout {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    letter-spacing: 0.075em;
    text-transform: uppercase;

    a {
      color: #97de3f;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid #97de3f;
      }
    }
  }

  &__team {
    text-align: left;
    margin: 0 0 3.5rem;
  }

  &__team-list {
    display: grid;;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    padding: 0;
    list-style: none;
  }

  &__team-member {
    text-align: center;

    span {
      font-family: "Oswald", sans-serif;
      display: block;
      font-weight: 500;
      white-space: nowrap;

      + span {
        font-weight: 300;
        margin-top: 5px;
      }
    }
  }

  &__headshot {
    margin: 0 auto 1rem;
    max-height: 200px;
    max-width: 200px;
  }

  &__donate {
    margin-bottom: 3.5rem;
    text-align: left;

    &__link {
      text-align: center;

      a {
        display: inline-block;
        background-color: #97DE3F;
        border-radius: 6px;
        padding: 0.75rem 0.875rem;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        transition: background-color 200ms linear;

        &:hover {
          background-color: darken(#97DE3F, 10%);
        }
      }
    }
  }

  .badges {
    justify-content: flex-start;

    @include respond(small) {
      flex-direction: row;

      .badges__badge {

        + .badges__badge {
          margin-left: 1.5rem;
        }
      }
    }
  }
}
