.episode-list {
  &__list {
    list-style: none;
    margin-top: 0;
    padding: 0;
  }

  &__list-item {
    @include episodeItem;

    + .episode-list__list-item {
      margin-top: 75px;
    }

    &__title {
      a {
        @include arrowRight;

        color: #000;
        text-decoration: none;

        &:visited {
          color: #000;
        }
      }
    }
  }
}
