.header {
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #FFF;
  padding: 29px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }

  &__nav {
    display: flex;
    align-items: center;
    padding: 0 50px;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__links {
    display: none;

    @include respond(medium) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav-item {
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    text-decoration: none;
    color: #595959;
    padding: 4px 0 3px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;

    &:hover {
      border-bottom: 1px solid #595959;
    }

    + #{&} {
      margin-left: 25px;
    }
  }
}
