.mobile-menu {
  .mobile-menu__icon {
    display: block;

    @include respond(medium) {
      display: none;
    }
  }

  &--open {
    > .mobile-menu__icon {
      display: none;
    }

    .mobile-menu__body {
      display: flex;

      .mobile-menu__icon {
        display: block;
        color: #FFF;
      }
    }
  }

  &__icon {
    display: none;
    color: #595959;
    font-size: 2rem;
    cursor: pointer;
  }

  &__body {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #3e3c3c;

    .mobile-menu__icon {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .header__nav-item {
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    padding: 4px 0 3px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;

    + .header__nav-item {
      margin-top: 25px;
      margin-left: 0;
    }

    &:hover {
      border-bottom: 1px solid #FFF;
    }
  }
}
