.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  &__link {
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;

    &:visited {
      color: #333;
    }

    &:hover {
      border-bottom: 1px solid #333;
    }

    &--disabled {
      color: #AAA;
      pointer-events: none;

      &:visited {
        color: #AAA;
      }
    }

    + #{&} {
      margin-left: 3rem;
    }
  }
}
